.payment__header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.payment__forms {
    width: 150px;
    font-size: 30px;
}

.view__payment {
    color: #fff;
    background-color: #f66962;
}


/* kich thuoc form */
.payment__modal {
    margin-left: 500px;
    width: 900px !important;
    height: 500px !important;
}

.bill__ma {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.bill__copy {
    display: 'flex';
    justify-content: space-between;
    margin-bottom: 24px;
    position: relative;
    top: -10px;
    background-color: #f66962;
    border-radius: 10px;
    padding: 10px;
}

.bill__codema {
    color: #fff;
    font-size: 20px !important;
}

.bill__atm {
    color: #d0cccc;
}

.payment__purchase {
    
}

.flex1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.payment__2023 {
    display: flex;
    flex-direction: column;
}

.flex2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.flex3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.flex4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.flex5 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.payment__flex {
    padding: 0 15px;
}

.payment__purchase {
    font-weight: bold;
}

.payment__subtotal {
    font-weight: bold;
}

.payment__total {
    font-weight: bold;
}

.payment__fee {
    font-weight: bold;
}

.payment__currency {
    font-weight: bold;
}

.payment__bill1 {
    border-right: 10px dashed #f66962;
    padding-right: 20px;
}

.payment__tutoring {
    font-size: 30px;
    margin-bottom: 30px;
}

.payment__right {
    background-color: #f66962;
    border-radius: 10px;
    padding: 20px;
}

 .payment__li1 {
    display: flex;
    margin-bottom: 15px;
    color: #fff;
}

.payment__li2 {
    display: flex;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #fff;
}

.payment__li3 {
    display: flex;
    margin-bottom: 15px;
    color: #fff;
}

.payment__li4 {
    display: flex;
    margin-bottom: 15px;
    margin-right: 19px;
    color: #fff;

}

.payment__li5 {
    display: flex;
    margin-bottom: 15px;
    color: #fff;
}

.payment__li6 {
    display: flex;
    margin-bottom: 15px;
    color: #fff;
}

.payment__ttli1 {
    display: flex;
}

.payment__ttli2 {
    display: flex;
}

.payment__tutors, .payment__sub, .payment__prices, .payment__sessiondates, .payment__duration, .payment__times {
    margin-right: 10px;
}

.payment__searchs, .payment__spaces{
    height: 41px !important;
}

