@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;600&family=Bree+Serif&family=Catamaran:wght@200&family=Karla:wght@200&family=Lilita+One&family=Open+Sans:wght@300;400;500&family=Pacifico&family=Poppins&family=Signika+Negative:wght@300&family=Signika:wght@300;500&family=Ysabeau:wght@600&display=swap');
.dashboard__part {
    width: 320px;
}

.dashboard__trum {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard__tik {
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard__size {
    margin-bottom: 90px;
    margin-top: 68px;
}

.bxs-circle {
    color: dodgerblue;
}

.dashboard__tieude {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.dashboard__welh1 {
    font-size: 45px;
    color: brown;
    font-family: 'Ysabeau', sans-serif;
}

.dashboard__span {
    color: rgb(14, 123, 225);
}

.dashboard__welcome {
      display: flex;
}

.dashboard__img {
    width: 300px;
    height: 300px;
}

.dashboard__working {
    color: rgb(67, 123, 219);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.dashboard__rightp {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

.dashboard__circle {
    font-family: 'Karla', sans-serif !important;
    font-weight: bold;
}