nav.nav-header {
  height: 70px;
  width: calc(100% - 280px);
  right: 0;
  top: 0;
  background: #f5f5f3;
  padding: 0 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

nav.nav-header a {
  color: var(--dark);
}

nav.nav-header .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

nav.nav-header .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}

nav.nav-header .nav-link:hover {
  color: var(--blue);
}

nav.nav-header form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

nav.nav-header form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

nav.nav-header form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: 1px solid rgb(184, 184, 184);
  background: #fff;
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

nav.nav-header form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eecda3;
  background: linear-gradient( to bottom, #ef629f, #eecda3 );
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

nav.nav-header .notification {
  font-size: 20px;
  position: relative;
}

nav.nav-header .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.nav-header .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

 #switch-mode {
  float: right !important;
}

nav.nav-header .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all 0.3s ease;
}
nav.nav-header #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

.dropdown-avatar {
  float: right !important;
} 
