@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Catamaran:wght@200&family=Open+Sans:wght@300;400;500&family=Pacifico&family=Signika+Negative:wght@300&family=Signika:wght@300;500&display=swap');
.MuiBox-root {
    display: flex;
    justify-content: space-evenly;
}


.MuiButtonBase-root {
    font-size: 16px !important;
}

.student__search {
   /* display: flex;
   align-items: center;
   justify-content: center; */
}

.student__navbar{
    background: linear-gradient(to right, #654ea3, #eaafc8);
    box-sizing: border-box;
}


.student__searchbar {
    width: 100%;
    max-width: 710px;
    height: 70px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.student__searchinput {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder {
    color: #cac7ff;
}

.student__searchbutton .fa-solid {
    width: 25px;
}

.student__searchbutton {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #58629b;
}

.student__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.student__img {
    width: 550px;
    height: 500px
}

.student__h1 {
    font-size: 66px;
    color: #cac7ff;
    padding-right: 250px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.student__logo {
    font-size: 45px !important;
}

.student__p {
    font-size: 20px;
    padding-bottom: 26px;
    padding-right: 200px;
    font-family: 'Open Sans', sans-serif;
    color: #cac7ff;
}