@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;600&family=Bree+Serif&family=Catamaran:wght@200&family=Karla:wght@200&family=Lilita+One&family=Open+Sans:wght@300;400;500&family=Pacifico&family=Pathway+Extreme&family=Poppins&family=Roboto&family=Rubik&family=Signika+Negative:wght@300&family=Signika:wght@300;500&family=Ysabeau:wght@600&display=swap');


h2 {
  font-family: 'Poppins', sans-serif;
}

.step1__body {
  width: 100%;
  height: 120vh;
  padding-right: 40px;
  margin-top: -10px;
  padding-left: 40px;
  padding-top: 100px;
  background: url(../../assets/images/background.png);
  background-size: cover;
  background-position: center;
}

.step1__logo {
  position: relative;
  font-family: "Lilita One", cursive;
  font-weight: bold;
  color: #f66962;
  top: 22px;
  font-size: 50px;
}
.step1__body .form-wrapper {
  margin: 0 auto;
}

.step1__step {
  margin: 20px 200px 30px 200px;
}
.step1__body .form-wrapper {
  /* margin-top: 20px; */
  height: 82%;
}

.step1__body .box__onboardstd {
  margin-top: 100px;
  overflow: hidden;
}

.step1__body .student-form-container {
  overflow: hidden;
  height: 80%;
}
.step1__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box__step1 {
  margin-bottom: 100px;
  max-width: 100%;
  width: 450px;
  height: 600px;
  padding: 30px;
  border-radius: 50px;
  background-color: #fff;
}

.step1__h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  align-items: center;
  padding: 16px;
  color: #c45852;
  font-family: 'Signika', sans-serif;
}

.student__buttonsub {
  margin-bottom: 25px;
  margin-left: 100px;
  width: 50%;
  background-color: #f66962;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}
.student-onboarding-form {
  height: 80%;
}
.student__buttonsub:hover {
  background-color: #c45852 !important;
}

.step1__body .form__dropdown {
  height: 350px;
}
.form__dropdown:not(:nth-child(1)) {
  margin-top: 50px;
}

:where(.css-dev-only-do-not-override-1e3x2xa).ant-upload-wrapper
  .ant-upload-select {
  display: block;
}

.step1__body .button-submit {
  display: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -30px);
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}
