.profile__all {
  padding: 20px 50px !important;
}

.view__allform1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.student_change {
  float: right;
  position: relative;
  bottom: -32px;
  right: 140px;
}
