
*{
    box-sizing: border-box;
}



.signup__gr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 100px 0; */
}

.img-signup .img__bgsignup {
    margin-left: 50px;
    margin-top: 100px;
    max-width: 700px;
    max-height: 640px;
}   

.signup__firstlast {
    display: flex;
}

.signup__heading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    background: linear-gradient(to right, #52b788, #3a86ff);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.signup__first {
    margin-right: 45px;
}

.signup__password {
    display: flex;
    position: relative;
    top: -24px;
}

.signup__pass {
    margin-right: 45px;
}

.signup__phone {
    position: relative;
    top: -33px;
    display: flex;

}

.signup__phonepadding {
    padding-right: 10px;
}

.signup__submit {
    position: relative;
    top: -30px;
    margin-left: 60px;
}

.signup__footer {
    display: flex;
    position: relative;
    top: -40px;
}

.signup__want {
    font-size: 14px;
    font-weight: 600;
}

.signup__email {
    position: relative;
    top: -12px;
}

.signup__want {
    padding-right: 140px;
}

.signup__footer .signup__apply {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #0e0ecf;

}

.signup__footer .signup__apply:hover {
    background-color: #dcb4f0;
    color: white;
}

.signup__logo {
    top: 0;
    left: 50px;
    position: absolute;
}

.signup__logo .logo__signup {
    font-size: 50px;
    text-decoration: none;
    padding-left: 20px;
    color: #fff;
    font-family: 'Pacifico', cursive;
}




.Navigation .logo {
    position: absolute;
    font-size: 60px;
    font-weight: 600;
    padding-left: 60px;
    background: rgb(63,97,174);
    background: linear-gradient(0deg, rgba(63,97,174,1) 9%, rgba(87,93,183,1) 27%, rgba(196,76,223,1) 73%, rgba(196,76,223,1) 79%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.Navigation .logo a {
    background: rgb(63,97,174);
    background: linear-gradient(0deg, rgba(63,97,174,1) 9%, rgba(87,93,183,1) 27%, rgba(196,76,223,1) 73%, rgba(196,76,223,1) 79%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    font-weight: 700;

}


/* css icons */
.display .bx {
    position: absolute;
    position: fixed;
    right: 0;
    top: 0;
    font-size: 60px;
    font-weight: 600;
    background: rgb(63,97,174);
    background: linear-gradient(0deg, rgba(63,97,174,1) 9%, rgba(87,93,183,1) 27%, rgba(196,76,223,1) 73%, rgba(196,76,223,1) 79%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.display .bxs-square {
    padding: 60px;
    font-size: 200px;
}

.display .bxs-circle {
    font-size: 200px;
}

/* end css icons */

/* css signup */

.signup__all {
    padding: 20px 75px;
    background-color: #fff;
    width: 100%;
    max-width: 550px;
    border-radius: 20px;
    height: 700px;
}

.signin-button {
    background-color: #6850a4;
}


.signup__social {
    margin-left: 30px;
    border-radius: 10px;
    display: block;
    width: 80%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    border: 0;
    background-color: #4c6ff4;
    display: flex;
    align-items: center;
    outline: none;
    box-shadow: 0 5px 10px 0 rgba(76, 111, 244, 0.5);
}

.signup__social:hover {
    background-color: #014cce;
}
.signup__social-icon {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c6ff4;
    font-size: 30px;
}

.signup__social-text {
    display: block;
    margin: 0 auto;
}



.signup__or {
    text-align: center;
    font-size: 15px;
    color: #999;
    margin: 10px auto;
    position: relative;
    bottom: -10px;
}

.signup__or span {
    display: inline-block;
    padding: 10px 10px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

.signup__or::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    top: 50%;
    left: 0;
}

.signup-label {
    font-size: 20px;
    color: black;
    font-weight: 700px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
}

.signup-input {
    display: block;
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid rgb(157, 154, 154);
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

.select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.signup-submit {
    padding: 25px;
    color: white;
    font-size: 28px;
    text-align: center;
    border: 0;
    outline: none;
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    background-color: #1c8754;
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(130, 201, 30 0.5);
    margin-top: 25px;
    margin-bottom: 25px;
}

.signup-submit:hover {
    transition: 1s;
    background-color: #0e7413;
}

.signup-already {
    text-align: center;
    font-size: 16px;
    color: #999;
}

.signup-login-link {
    color: #2979ff;
    text-decoration: none;
}

/* end css signup */



/* css forgot pass */

.signup a {
    font-size: 15px;
    float: right;
    color: #1f6cb2;
}

/* end css forgot pass  */

/* css footer  */
.signup .footer {
    display: flex;
    justify-content: space-between;
}

.signup .footer p {
    font-size: 20px;
    margin-top: 2px;
}

.signup .footer button a {
    text-decoration: none;
    padding: 10px;
    line-height: 8px;
    color: #1c8754;
}
.signup .footer button {
    background-color: white;
    border: 2px solid #1c8754;
    border-radius: 10px;
}

.signup .footer button:hover {
    background-color: rgb(213, 242, 230);
    transition: 1s;
    transform: scale(1.2);
}

/* end css footer */

/* css Footer-bottom */

.Footer-bottom {
    position: fixed;
    padding: 10px;
    right: 0;
    top: 90%;
}

.Footer-bottom a {
    font-size: 16px;
    font-weight: 500;
}

.Footer-bottom .bottom2 {
    margin: 0 20px;
}

/* end css Fotter-bottom */

/* css display-bottom  */

.display-bottom .bx {
    position: absolute;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 60px;
    font-weight: 600;
    background: rgb(63,97,174);
    background: linear-gradient(0deg, rgba(63,97,174,1) 9%, rgba(87,93,183,1) 27%, rgba(196,76,223,1) 73%, rgba(196,76,223,1) 79%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.display-bottom .bxs-up-arrow {
    padding: 70px;
    font-size: 200px;
    z-index: 1;
}

.display-bottom .bxs-square {
    font-size: 200px;
}

/* end css display-bottom */