@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;600&family=Bree+Serif&family=Catamaran:wght@200&family=Lilita+One&family=Open+Sans:wght@300;400;500&family=Pacifico&family=Signika+Negative:wght@300&family=Signika:wght@300;500&display=swap');

.signup__gr {
    width: 100%;
    min-height: 100vh;
    padding-right: 40px;
    padding-left: 40px;
    background: url(../../assets/images/background.png);
	background-size: cover;
	background-position: center;
    /* padding-bottom: 150px; */
}

.signup__pad::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#DA22FF, #9733EE);
    clip-path: circle(30% at right 70%);
  }
  
.signup__pad::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#E55D87, #5FC3E4);
    clip-path: circle(20% at 10% 10%);
}

.signup__all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box__signup {
    max-width: 100%;
    width: 450px;
    height: 644px;
    padding: 30px;
    border-radius: 50px;
    background-color: #fff;
}

.logo__signup {
    z-index: 10;
    position: relative;
    font-family: 'Lilita One', cursive;
    font-weight: bold;
    color: #ffffff;
    top: 22px;
    font-size: 50px;
}

.signup__firstlast {
    display: flex;
    justify-content: space-between;
}


.signup__password {
    display: flex;
    justify-content: space-between;
}

.signup__pass {
    width: 185px; 
}

.signup__phone {
    display: flex;
}

.signup__phonepadding {
    margin-right: 25px;
}

.signup__heading {
    display: flex;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    padding: 16px;
    color: #c45852;
}

.signup__form__button {
    margin-bottom: 25px;
    width: 100%;
    background-color: #f66962;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -60px;
    padding: 20px;
}

.signup__form__button:hover {
    background-color: #c45852 !important;
}

.signup__wantr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -30px;
}

.signup__wantbutton {
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    border: none;
    background-color: #f66962;
}

.signup__wantbutton:hover {
    background-color: #c45852;
}

.signup__apply {
    color: #fff;
}

.signup__apply:hover {
    color: #fff;
}
