@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Catamaran:wght@200&family=Open+Sans:wght@300;400;500&family=Pacifico&family=Signika+Negative:wght@300&family=Signika:wght@300;500&display=swap');
.Every-tutor {
    background-color: #195e44;
    color: #fffdf4;
    width: 100%;
    height: 460px;
}

.Every-tutor .Every-grid {
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.Every-tutor .every-layout-grid {
    display: grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 0.75fr;
    grid-template-rows: 460px;
}

.Every-tutor .Every-grid .Every-section-small {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 6rem;
    padding-left: 6rem;
}

.Every-tutor .Every-grid .Every-section-small h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3.375rem;
    line-height: 1.25;
    font-weight: 700;
}

.Every-tutor .Every-grid .Every-section-small .every-style {
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.375rem;
    line-height: 1.25;
    font-weight: 700;
}

.Every-tutor .Every-grid .Every-section-small p {
    font-size: 1.5rem;
    
}

.Every-tutor .Every-grid .Every-section-small .every-text {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: 400;
}

.Every-tutor .Every-grid .Every-section-small button {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding: .8rem 1.25rem;
    border: 1px solid #195e44;
    border-radius: .25rem;
    background-color: #d4f559;
    color: #151d34;
    font-size: 1.375rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}


.Every-tutor .Every-grid .Every-section-small button a {
    display: inline;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.Every-tutor .Every-grid .Every-section-small button a:hover {
    color: rgb(8, 141, 5);
}

/* .Every-tutor .Every-grid {
   margin-right: 0;
} */

.Every-tutor .Every-grid img {
    width: 100%;
    height: 460px;
}


/* end css Every-tutor  */

/* css Whytutor */

.whytutor-global {
    padding-right: 5%;
    padding-left: 5%;
    background-color: #fffdf4;

}

.whytutor-global .whytutor-large {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 7rem;
    padding-bottom: 7rem;
}


.whytutor-global .whytutor-large .whytutor-wrapper {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.whytutor-wrapper .margin-bottom {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.whytutor-wrapper .margin-bottom .whytutor-medium {
    width: 100%;
    max-width: 35rem;
}

.whytutor-wrapper .margin-bottom .whytutor-medium .whytutor-medium-small {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}

.whytutor-wrapper .margin-bottom .whytutor-medium .whytutor-medium-small h2 {
    display: block;
    font-size: 40px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-image: linear-gradient(to right, #52b788, #3a86ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: 'Open Sans', sans-serif;
}

.margin-bottom .whytutor-medium-p {
    display: grid;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 1rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    font-family: 'Open Sans', sans-serif;
}

.margin-bottom .whytutor-medium-p .layout-content1 .textsize {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: 400;
}

.margin-bottom .whytutor-medium-p .layout-content2 .textsize {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: 400;
}

.col-item .margin-small .img-text {
    width: 3rem;
    height: 3rem;
}

.margin-bottom {
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(134, 133, 133);
}

.whytutor-grid {
    display: grid;
    padding-top: 3rem;
    padding-bottom: 2rem;
    justify-items: start;
    align-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-bottom: 1px solid rgb(134, 133, 133);

}

.whytutor-grid .col-item {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.whytutor-grid .col-item .margin-small {
    margin: 1.5rem;
}

.whytutor-grid .col-item .heading-style-h4 {
    margin-bottom: 1rem;
    font-size: 1.375rem;
    line-height: 1.25;
    font-family: 'Open Sans', sans-serif;
}

.whytutor-grid .col-item h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.125rem;
    line-height: 1.25;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.whytutor-grid .col-item p {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
} 

/* end css Whytutor */

/* css padding-red */

.Padding-red {
    padding-right: 5%;
    padding-left: 5%;
    background-color: #781403;
    color: white;

}

.Padding-red .Padding-red-global {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.Padding-red .Padding-red-global .Padding-red-grid {
    display: grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 4rem;
    -ms-grid-columns: 1fr 0.75fr;
    grid-template-columns: 1fr 0.75fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.Padding-red-grid .Padding-red-layout h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: Ivartext, sans-serif;
    font-size: 2.75rem;
    line-height: 1.25;
    font-weight: 700;
}

.Padding-red-grid .Padding-red-layout p {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: 400;
}

.Padding-red-grid .Padding-red-layout .Padding-icon a {
    text-decoration: none;
    padding-top: .45rem;
    padding-bottom: .45rem;
    font-size: 1.375rem;
    line-height: 1.5;
    font-weight: 600;
    color: white;

}

.Padding-red-grid .Padding-red-layout .Padding-icon .bx {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 10px;
}

.Padding-red-grid .img-grid-layout {
    position: relative;
    height: 100%;
}

.Padding-red-grid .layout-img {
    width: 100%;
    height: 100%;
}

.Padding-red-grid img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}