:where(
    .css-dev-only-do-not-override-mxhywb
  ).ant-picker-calendar.ant-picker-calendar-full
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-calendar-date,
:where(
    .css-dev-only-do-not-override-mxhywb
  ).ant-picker-calendar.ant-picker-calendar-full
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-calendar-date-today {
  background: #cd88a6;
}

:where(
    .css-dev-only-do-not-override-mxhywb
  ).ant-picker-calendar.ant-picker-calendar-full
  .ant-picker-calendar-date-today {
  border-color: #ef629f;
}

.schedule__calen {
  border-radius: 20px;
  padding: 20px;
  border: 3px solid #e880ad;
}
