.led1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dollar-h3 {
  display: flex;
  color: #ad1457;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}

.view__h2r {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 29px;
}

.view__but212 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.span__view {
  float: right;
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publish-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.publish-coursePrograms {
  width: 100%;
  border: 1px solid #ccc;
}

.publish-item {
  width: 100%;
  display: flex;
  font-size: 17px;
  justify-content: space-between;
  padding: 10px 20px;
}

.publish-form-btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.publish-form-btn-group {
  font-size: 20px;
}

.btn-publish {
  margin-top: 20px;
  padding: 10px;
  height: 40px;
  flex: 1;
  font-weight: 700;
}

.publish-form-price {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.publish-form-price-lable {
  max-width: 300px;
  color: #ef709f;
  font-size: 20px;
}

.publish-form-price input {
  margin-left: 10px;
}

.publish-form-price .input-price {
  margin-left: 20px;
  font-size: 18px;
  min-width: 100px;
  width: 200px;
}

.btn-primary {
  background: #eecda3;
  background: linear-gradient(to bottom, #ef629f, #eecda3);
  color: white;
}

.tutor-course-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.publish-title {
  color: #ef629f;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-modal .ant-modal-title {
  margin: 0;
  color: #ef629f;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.5;
  word-wrap: break-word;
}