.body-onboarding {
  width: 100%;
  min-height: 100vh;
  padding-right: 40px;
  padding-left: 40px;
  background: url(../assets/images/background.png);
  background-size: cover;
  background-position: center;
}

.student__logo {
  position: relative;
  font-family: 'Lilita One', cursive;
  font-weight: bold;
  color: #f66962;
  top: 22px;
  font-size: 50px;
}

.box__onboardstd {
  margin: 100px 0;
  max-width: 100%;
  width: 600px;
  height: 490px;
  padding: 68px;
  border-radius: 50px;
  background-color: #fff;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.onboard__heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.student__heading {
  margin: 20px;
  font-size: 35px;
  color: #f66962;
}

.onboardstd__p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.onboardstd__welcome {
  margin: 10px;
  font-size: 20px;
  color: #f66962;
}

.onboardstd__calendar {
  width: 100%;
}

.ant-picker {
  width: 100%;
}

.onboardstd__bot {
  margin: 0 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly
}

.onboardstd__skip {
  display: flex;
  justify-content: center;
  align-items: center;
}
