.body-onboarding {
  padding-top: 5%;
  width: 100%;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 32%;
  background: url(../assets/images/background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.student__logo {
  position: relative;
  font-family: "Lilita One", cursive;
  font-weight: bold;
  color: #f66962;
  top: 22px;
  font-size: 50px;
}

.box__onboardstd {
  width: 100%;
  height: 120%;
  padding: 30px 50px;
  border-radius: 50px;
  background-color: #fff;
}

.form-wrapper {
  display: flex;
  align-items: center;
  height: 85%;
  justify-content: center;
  width: 60%;
}
.student-form-container {
  margin-top: 30px;
  overflow: hidden;
  height: 80%;
  position: relative;
}
.student-onboarding-form {
  width: 100%;
  margin-top: 40px;
  height: 70%;
  overflow-y: auto;
}
.onboard__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.student__heading {
  margin: 20px;
  font-size: 35px;
  color: #f66962;
}

.onboardstd__p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.onboardstd__welcome {
  margin: 0px 10px 10px 10px;
  font-size: 20px;
  color: #f66962;
}

.onboardstd__calendar {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.form__dropdown {
  border: 2px dashed #ccc;
  border-radius: 30px;
  position: relative;
  padding: 25px 20px;
}

.ant-picker {
  width: 100%;
}

.onboardstd__bot {
  margin: 0 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.onboardstd__skip {
  text-decoration: underline;
  padding: 10px 20px;
  font-size: 20px;
  color: #ff6699;
}

.dynamic-delete-button {
  position: absolute;
  font-size: 20px;
  right: 0;
  top: -30px;
}
/* .submit-form-student {
  margin-top: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.student-add-form {
  position: absolute;
  right: 0;
  top: 0px;
  background-color: #fff;
}
.button-submit {
  
}

.onboardstd-button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.onboard-std-skip {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  padding: 10px 20px;
  font-size: 20px;
  color: #ff6699 !important;
}
