.feedback__box1 {
    width: 386px;
    height: 90px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.feedback__h1 {
    margin: 20px 0;
}
.feedback__boxavt {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.feedback__formavt {
    width: 60px;
    height: 60px;
}

.feedback__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 50px;;
}

.course-box {
    display: flex;
}

.course-box-info {
    margin: 6px 20px;
    /* border-right: 1px solid #ef629f; */
    padding-right: 20px;
}

.course-box-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}


.feedback__star {
    /* margin-right: 10px; */
    display: inline;
    font-size: 1.5rem;
}

.feedback__boxall {
    display: flex;
    margin-bottom: 20px;
}

.feedback__tittle {
    margin: 6px 20px;
}

.feedback__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
}




.feedback__left h1 {
    font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #1f1f1f;
}

.feedback__breadcrumb {
    display: flex;
	align-items: center;
	grid-gap: 16px;
}

.feedback__breadcrumb li {
	color: #1f1f1f;
}

.feedback__breadcrumb li a {
	pointer-events: none;
	color: #1f1f1f;
}

.feedback__head-title {
    padding: 2% 1%;
}

.feedback__h1ba {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback__left {
    display: flex;

}

.feedback__listpp {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    background-color: #f66962;
    color: #fff;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.form_modal_star {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.form_ratting {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2%; */
    gap: 2%;
    align-items: center;
    border-left: 1px dashed #333;
    padding-left: 2%;
}

.course-box-description{
    width: 350px;
    overflow-y: auto;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    height: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.form_des_modal {
    padding-right: 4%;
    /* border-right: 1px dashed #333; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_fb_all {
    
    /* margin-top: 20px; */
    width: 100%;
    height: 90px;
    border: 1px dashed black;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-modal .ant-modal-body{
    max-height: 500px; /* Chiều cao tối đa của modal */
    overflow-y: auto; /* Hiển thị thanh cuộn khi vượt quá chiều cao */
}

.date_feedback{
    margin-top: 5%;
}

