@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;600&family=Bree+Serif&family=Catamaran:wght@200&family=Lilita+One&family=Open+Sans:wght@300;400;500&family=Pacifico&family=Poppins&family=Signika+Negative:wght@300&family=Signika:wght@300;500&display=swap');
.add__all {
    background: url(../../assets/images/background.png);
	background-size: cover;
	background-position: center;
    min-height: 100vh;
    padding: 50px 200px;
}

.add__logo {
    display: none;
    position: absolute;
    font-family: 'Lilita One', cursive;
    font-weight: bold;
    color: #f66962;
    font-size: 50px;
    top: 20px;
    left: 50px;
}

.add__h1course {
    color: #f66962 !important;
}

.add__h1 {
    color: #f66962 !important;
}

.add__phase {
    color: #f66962 !important;
}

.add__form {
    display: flex;
    align-items: center;
}

.add__infomation {
    margin: 50px;
    width: 500px;
    height: 740px;
    padding: 20px;
    /* border: 1px solid black; */
    background-color: #edecec;
    border-radius: 26px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.add__program {
    width: 600px;
    height: 740px;
    margin: 50px;
    padding: 20px;
    border: none;
    background-color: #edecec;
    border-radius: 26px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.add__session1 {
    color: #f66962 !important;
}

.add__savecancel {
    position: relative;
    bottom: -78px;
    left: -150px;
}

.add__addtomore {
    background-color: #f66962;
    margin-right: 20px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.add__addtomore:hover {
    background-color: #c45852 !important;
}

.add__pd2 {
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 29px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}
